# Telegram API
TELEGRAM_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
TELEGRAM_CHAT_ID=YOUR_TELEGRAM_CHAT_ID

# Twitter(X) API
TWITTER_API_KEY=IBzhTOdJkmZk4tYqWNeqeBWtM
TWITTER_API_SECRET=gRY7BsXYB3TRanjbxVPEHfRns8g2KW9n0tExQUkoI5WEPX5zy8
TWITTER_ACCESS_TOKEN=990831118072078341-TEROpY9oWwNEU1msbtAIOs1OQA8p94f
TWITTER_ACCESS_SECRET=0Jtzn537eyMn1dFcy6t8UkVo00PlnPRWWLo47ghptLeiY

# Linledin API
LINKEDIN_USERNAME=javad.stg@gmail.com
LINKEDIN_PASSWORD=Jz13530413@#

# LBank API
LBANK_API_KEY=b0be0717-c2ab-4dbd-81ed-9f956a5d8abe
LBANK_API_SECRET=AE25F09D8A922E31401A6178618949AA


# Trading Symbols and Timeframes
SYMBOLS=btc_usdt,eth_usdt,xrp_usdt,bnb_usdt,sol_usdt,not_usdt,doge_usdt,ada_usdt,trx_usdt,link_usdt,sui_usdt,avax_usdt,arb_usdt,op_usdt,near_usdt,apt_usdt,ton_usdt,algo_usdt,xtz_usdt,leo_usdt
TIMEFRAMES=1min,5min,15min,1h,4h
WEBSOCKET_TIMEFRAME_CODES_1MIN=1min
WEBSOCKET_TIMEFRAME_CODES_5MIN=5min
WEBSOCKET_TIMEFRAME_CODES_15MIN=15min
WEBSOCKET_TIMEFRAME_CODES_1H=1hr
WEBSOCKET_TIMEFRAME_CODES_4H=4hr
REST_TIMEFRAME_CODES_1M=minute1
REST_TIMEFRAME_CODES_5M=minute5
REST_TIMEFRAME_CODES_15M=minute15
REST_TIMEFRAME_CODES_30M=minute30
REST_TIMEFRAME_CODES_1H=hour1
REST_TIMEFRAME_CODES_4H=hour4
REST_TIMEFRAME_CODES_8H=hour8
REST_TIMEFRAME_CODES_12H=hour12
REST_TIMEFRAME_CODES_1D=day1

TIMEFRAME_MAPPING={"1min": "1min", "5min": "5min", "15min": "15min", "1h": "1hr", "4h": "4hr"}
REST_TIMEFRAME_CODES={"1min": "minute1", "5min": "minute5", "15min": "minute15", "1h": "hour1", "4h": "hour4"}


# WebSocket and API
WEBSOCKET_URL=wss://www.lbkex.net/ws/V2/

# Retry and Depth Settings
WS_MAX_RETRIES=5
DEPTH_LEVEL=50

EQUITY=1000

# log file settings
LOG_LEVEL=INFO,DEBUG,ERROR
LOG_FILE=logs/mylog.log
LOG_MAX_MB=10
LOG_BACKUPS=7